---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="mb-6 transition">
  <div>
    <a href="#" class="inline-block">
      <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">{post.category}</span>
    </a>
  </div>
  <a href="#" class="mt-4 block">
    <h3 class="mb-2 text-xl font-bold leading-tight sm:text-2xl font-heading">
      {
        BLOG?.post?.disabled ? (
          post.title
        ) : (
          <a
            href={getPermalink(post.permalink, 'post')}
            class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
          >
            {post.title}
          </a>
        )
      }
    </h3>
    <p class="mt-3 text-muted dark:text-slate-400 text-lg">{post.excerpt || post.description}</p>
  </a>
  <div class="mt-2 flex items-center">
    <div class="flex space-x-1 text-sm text-muted">
      <time datetime={post.publishDate.toISOString()}>{`${post.publishDate.toLocaleString('default', { month: 'long' })} ${post.publishDate.getDate()}, ${post.publishDate.getFullYear()}`}</time>
      <span aria-hidden="true">&middot;</span>
      <span>{post.readingTime} min read</span>
    </div>
  </div>
</article>
